<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/styles/mainpage.css">
</head>
<body> 
    <%- include('../partials/landingNavBar.ejs')%>
    <br>
    <br>
    <br>
    <div class="about-contain">
        <div class="idea-card">
            <h4 class="idea-header">What is Ideagram?</h4>
            <p class="idea-paragraph">It is a place for you to find ideas like countries, recipes, home and style inspiration, and many more</p>
        </div>
        <div class="idea-card">
            <h4 class="idea-header">Objective</h4>
            <p class="idea-paragraph">Bringing the community closer to the same things we love.</p>
        </div>
        <div class= "idea-card">
            <h4 class="idea-header">Stand Out On Ideagram</h4>
            <p class="idea-paragraph">Connect with more people and create compelling content that's distinctly yours.</p>
        </div>
        <div class="idea-card">
            <h4 class="idea-header">Grow with Ideagram</h4>
            <p class="idea-paragraph">Share and grow your ideas with our diverse, global community.</p>
        </div>
        
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>