<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <h1 id='username-top-right-corner'><%= currentUser.username %></h1>
    <h1 class='page-heading'>Following Albums</h1>
    <div class="albums">
    <% if(userData.hasOwnProperty('albumsFollowing')){ %>
        <% userData.albumsFollowing.forEach( album => { %>
        <div class="album-card">
                <h2><%=album%></h2>
        </div>
    <% }) %>
    <% } else { %>
        <h2>None</h2>
    <% } %>
    </div>
</body>
</html>