<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/styles/showUser.css">
    <link rel="stylesheet" type="text/css" href="/styles/comments.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
</br>
</br>
</br>
    <h1 class='page-heading'>My Profile</h1>
    <%- include('../partials/profile.ejs') %>
</body>
</html>