<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/styles/newAlbum.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    </br>
    </br>
    <h2 class='page-heading'>Create New Album</h2>
    <%-include('../partials/errorMsg.ejs') %>
    <div class="album-form">
        <%- include('../partials/albumForm.ejs') %>
    </div>
</body>
</html>