<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <h2>Create New Album</h2>
    <div class="new-form">
        <%- include('../partials/form.ejs') %>
    </div>
</body>
</html>