<form action = '/albums/create' method = 'POST' enctype="multipart/form-data">
    <div class="form-group">
        <label for='name'>Album Name</label>
        <input class="form-control" type='text' name='name' placeholder="Enter Album's Name" required/>
    </div>
    <div class="form-group">
        <label for='description'>Album Description</label>
        <input class="form-control" type='text' name='description' placeholder="Enter Album's description" required/>
    </div>
    <div class="form-group">
        <label for='image'>First Image</label>
        <input class="form-control-file" name="image" type="file" />
    </div>
    <div class="form-group">
        <label for='comment'>First Image Description</label>
        <input class="form-control" type='text' name='comment' placeholder="Enter Image's description" required/>
    </div>
    <div class="create-album">
        <button class="btn" type="submit" id="create-btn">Create New Album</button>
    </div>
</form>
