<form action = '/albums/create' method = 'POST' enctype="multipart/form-data">
    <div>
        <label for='name'>Album Name</label>
        <input type='text' name='name' placeholder="Enter Album's Name" required/>
    </div>
    <div>
        <label for='description'>Album Description</label>
        <input type='text' name='description' placeholder="Enter Album's description" required/>
    </div>
    <div>
        <label for='image'>First Image</label>
        <input name="image" type="file" />
    </div>
    <div>
        <label for='comment'>Image Description</label>
        <input type='text' name='comment' placeholder="Enter Image's description" required/>
    </div>
    <div class="create-album">
        <button type="submit">Create New Album</button>
    </div>
</form>


<form action="/upload/create" method="post" enctype="multipart/form-data">
    <div>
        <label>Image</label>
        <input name="image" type="file" />
    </div>
    <button type="submit">Upload</button>
</form>