<form action = '/comment/create' method = 'POST'>
    <div>
        <input type='text' name='comment' placeholder="Share a feedback or a question" required>
    </div>
    <div class="create-album">
        <button type="submit" class="waves-effect waves-light btn-small" href="/download" id="comment-btn">
            <i class="material-icons right">message</i>Add new comment</button>
    </div>
</form>
