<% if (error!==false) { %>
    <div class="card-alert card red lighten-5">
        <div class="card-content red-text">
            <strong><%=error%></strong> 
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<%} %>