<!-- Footer -->
<footer class="page-footer font-small special-color-dark">

    <div class="footer-copyright text-center py-3 black">© 2020 Copyright:
      <a href="https://github.com/siewla/ideagram/"> Built and Designed by SiewLa</a>
    </div>

  </footer>
  <!-- Footer -->