<form action = '/albums/create' method = 'POST'>
    <div>
        <label for='name'>Name</label>
        <input type='text' name='name' placeholder="Enter Album's Name" required>
    </div>
    <div>
        <label for='description'>First Comment</label>
        <input type='text' name='description' placeholder="Enter First Comment/description" required>
    </div>
    <div>
        <label for='image'>Image</label>
        <input type='url' name='img' placeholder="link of image" required>
    </div>
    <div class="create-album">
        <button type="submit">Create New Album</button>
    </div>
</form>