<form action = '/image/create' method = 'POST' enctype="multipart/form-data">
    <div>
        <label for = "albumName">Album Name</label>
        <input type = "text" name='albumName' value="<%=albumName%>" readonly/>
    </div>
    <div>
        <label for='image'>First Image</label>
        <input name="image" type="file" />
    </div>
    <div>
        <label for='comment'>Image Description</label>
        <input type='text' name='comment' placeholder="Enter Image's description" required/>
    </div>
    <div class="create-image">
        <button type="submit">Create New Image</button>
    </div>
</form>