<form action = '/image/create' method = 'POST'>
    <div>
        <label for='image'>Image</label>
        <input type='url' name='image' placeholder="link of image" required>
    </div>
    <div>
        <label for='comment'>Image Description</label>
        <input type='text' name='comment' placeholder="Enter Image's description" required>
    </div>
    <div class="create-image">
        <button type="submit">Create New Image</button>
    </div>
</form>