<body>
    <nav class="black">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Ideagram</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-nav">
            <i class="material-icons">menu</i>
        </a>
            <ul class="right hide-on-med-and-down">
            <li><a href="/following">Following</a></li>
            <li>
                <form action="/logout?_method=DELETE" method="post">
                    <button class="waves-effect waves-light btn-small" id="logout-text">Logout</button>
                </form>
            </li>
        </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-nav">
        <li><a href="/following">Following</a></li>
        <li>
            <form action="/logout?_method=DELETE" method="post">
                <button class="waves-effect waves-light btn-small" id="logout-side">Logout</button>
            </form>
        </li>
    </ul>
</body>