<body>
    <nav class="red">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">IDEAGRAM</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-nav">
            <i class="material-icons">menu</i>
        </a>
            <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/following">Following</a></li>
            <li><a href="/search">Search</a></li>
        </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/following">Following</a></li>
        <li><a href="/search">Search</a></li>
    </ul>
</body>