<h1>REGISTRATION</h1>

<!-- fieldset for account info -->
<fieldset class="account-info">
    <!-- legend for account info -->
    <legend>ACCOUNT INFORMATION</legend>
        <!-- username -->
        <label for="username">USERNAME</label>
        <input type="text" id="username"/>
        <!-- password -->
        <label for="password">PASSWORD</label>
        <input type="password" id="password">
        <!-- email -->
        <label for="email">E-MAIL</label>
        <input type="email" id="email"/>
</fieldset>

<!-- fieldset for profile info -->
<fieldset class="profile-info">
    <!-- legend for profile info -->
    <legend>PROFILE INFORMATION</legend>
    <!-- biography -->
    <label for="biography">BIOGRAPHY</label>
    <!-- textarea for larger bodies of text -->
    <textarea id="biography" placeholder="Hi, I am new to programming. I am interested in smarter ways of coding"></textarea>
</fieldset>