<div class="registration-form">
    <form action="/signup" method="POST">
        <div class="form-group">
            <label for="username" >Username</label>
            <input id="username" class="form-control" type="text" class="validate" name="username" minlength="6" maxlength="20" pattern="[^' ']+" required>
            <small id="passwordHelpInline" class="text-muted">
                <p class="text-inline-small">Must be 6-20 characters long. No spaces</p>
            </small>
        </div>
        <div class="form-group">
            <label for="password" >Password</label>
            <input id="password" class="form-control" type="password" class="validate" minlength="6" maxlength="20" name="password" pattern="^[^ ].+[^ ]$" required/>
            <small id="passwordHelpInline" class="text-muted">
                <p class="text-inline-small">Must be 6-20 characters long.</p>
            </small>
        </div>
        <button class="btn" type="submit" name="action" id="submit-btn">Signup
            <i class="fa fa-user-plus"></i>
        </button>
    </form>
</div>