.comments-container{
    width: 55%;
    align-self: center;
}

#comment-heading{
    font-size:2vh;
    color: grey;
    padding:1vh;
    border-radius: 1vh;
}

.scrollable-comments{
    max-height: 40vh;
    overflow-x: hidden; 
    overflow-y: auto; 
    display:flex;
    flex-direction: column-reverse;
    float: top;
}

.comment{
    margin-top: 1vh;
    border-radius:1vh;
    border: 1px solid grey;
    padding: 0.5vh;
}

.add-comment-container{
    display: flex;
    flex-direction: column;
    border-radius:1vh;
}



.comment-footer{
    text-align: right;
}

#username-comment{
    color: lightcoral;
}

#own-comment{
    color: lightseagreen;
}

.edit-group-button{
    border-radius: 1vh;
    background-color: white;
    color: black;
    margin-right: 1vh;
}

.comment-footer-owner{
    display:flex;
    flex-direction: row-reverse;
    /* justify-content: center; */
    /* align-items: center; */
}

#user-comment-heading {
    font-size: 3vh;
    color: lightseagreen;
}

@media screen and (max-width: 800px) {
    .comment{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1vh;
        display: block;
        border-radius:1vh;
        border: 1px solid grey;
        padding: 0.5vh;
    }

    .comments-container{
        width: 100%;
        align-self: center;
    }
}
