.albums{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.album-card{
    margin: 2vh;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 2vh;
    width: 30vh;
    height: 50vh;
}

.album-image-container{
    width: 25vh;
    height: 30vh;
}

.owner-tag{
    color:red;
}

.album-name-container {

}

.album-description-container{

}

.brand-logo{
    color: yellow !important;    
}

#logout-text{
    background-color:black !important;
    color: yellow !important;
    text-transform: capitalize;
}

#logout-side{
    background-color:black !important;
    color: yellow !important;
    text-transform: capitalize;
    margin-left: 10vh;
}

#username-top-right-corner {
    color: black !important;
    margin-top: 1vh;
    text-align: right;
    margin-right: 2vh;
    font-size: 2vh;
}

.page-heading{
    background-color: rgba(238, 241, 40, 0.5);
    text-align: center;
    font-size: 5vh;
    text-transform: uppercase;
}

.link-text{
    color: yellow;
    text-transform: uppercase;
    text-decoration: underline;
}
