.main-content{
    background-color: rgb(36,44,49);
}


.center-the-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#registration-card {
    background-color: white;
    padding: 2vh;
    text-align: center;
    border-radius: 3vh;
    width: 60vh;
    margin:15vh auto;
}

#welcome-text{
    font-size: 4vh;
    margin-top: 2vh;
}

#tagline-text {
    font-style:italic;
    color:grey;
    /* background-color: grey;
    border-radius: 1vh; */
}

.link-text{
    color: grey;
    text-transform: uppercase;
    text-decoration: underline;
}

.albums{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.album-card{
    margin: 2vh;
    background-color: white;
    border-radius: 2vh;
    width: 40vh;
    height: 80vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.album-image-container{
    width: 30vh;
    height: 30vh;
    object-fit: cover;
    border-radius: 2vh;
}

.album-info-container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.small-footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
}

.footer-text{
    margin: 0vh;
    font-size: 1.5vh;
}

#own-tag{
    color: lightseagreen;
    font-weight: bolder;
}

#owner-tag{
    color: cornflowerblue;
    font-weight: bolder;
}

.own-tag{
    color: lightseagreen;
    font-weight: bolder;
}

.owner-tag{
    color: cornflowerblue;
    font-weight: bolder;
}

.album-tag{
    color: lightcoral;
    font-weight: bolder;
}

#user-comment-heading {
    font-size: 3vh;
    color:lightseagreen;
    font-weight: bolder;
    align-self: flex-start;
}

#user-comment-modal-heading{
    display :flex;
    flex-direction: column;
}

.album-description-container{
    text-align: center;
}

.brand-logo{
    color: yellow !important;    
}

#logout-text{
    background-color:black !important;
    color: yellow !important;
    text-transform: capitalize;
}

#logout-side{
    background-color:black !important;
    color: yellow !important;
    text-transform: capitalize;
    margin-left: 10vh;
}

/* Edit Album Modal  */
.image-modal{
    display:block;
    height: 20vh;
    width: 20vh;
    object-fit: cover;
    margin: 2vh auto;
    border-radius: 2vh;
}

.page-heading{
    text-align: center;
    font-size: 4vh;
    text-transform: uppercase;
}

.album-container-heading{
    margin-top: 1vh;
}

.list-following-container{
    display: block;
    width: 40%;
    margin: auto;
    text-align: center;
    border-radius: 2vh;
    height: 30vh;
    background-color:white;
    overflow: auto;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    padding: 1vh;
}

.list-following-container-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.albums-following {
    font-size: 3vh;
    color: lightseagreen;
}

.users-following{
    font-size: 3vh;
    color: lightcoral;
}
