
.albums{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.album-card{
    margin: 2vh;
    background-color: white;
    border-radius: 2vh;
    width: 40vh;
    height: 80vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

#follow-btn{    
    background-color: pink;
    color:black;
}

#unfollow-btn{
    background-color: goldenrod;
    color:black;
}

.album-image-container{
    height: auto; 
    width: auto;
    max-width: 25vh;
    max-height: 25vh;
    border-radius: 2vh;
}

.album-info-container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.owner-tag{
    color:red;
}

.album-name-container {

}

.album-description-container{
    text-align: center;
}

.brand-logo{
    color: yellow !important;    
}

#logout-text{
    background-color:black !important;
    color: yellow !important;
    text-transform: capitalize;
}

#logout-side{
    background-color:black !important;
    color: yellow !important;
    text-transform: capitalize;
    margin-left: 10vh;
}

.page-heading{
    text-align: center;
    font-size: 4vh;
    text-transform: uppercase;
}

.link-text{
    color: yellow;
    text-transform: uppercase;
    text-decoration: underline;
}

#logout-btn{
    background-color: black;
    color:yellow;
    font-size: 2vh;
    border-radius: 1vh;
}

#cancel-btn{
    background-color: white;
    color: black;
}

.album-image-modal{
    max-height: 30vh;
    max-width: 30vh;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-container-heading{
    margin-top: 1vh;
}

.album-name-btn{
    background-color: black;
    color:yellow;
    font-size: 2vh;
    border-radius: 1vh;
}

.album-name-edit-btn{
    background-color: white;
    color:black;
    font-size: 2vh;
    border-radius: 1vh;
}

.list-following-container{
    display: block;
    width: 40%;
    margin: auto;
    text-align: center;
    border-radius: 2vh;
    height: 30vh;
    background-color:white;
    overflow: auto;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    padding: 1vh;
}

.list-following-container-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.albums-following {
    font-size: 3vh;
    color: lightseagreen;
}

.users-following{
    font-size: 3vh;
    color: lightcoral;
}

#album-btn{
    margin: auto;
    border-radius:2vh;
}