body{
    background-image: url('/assets/images/bigstock.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.center-the-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#registration-card {
    background-image: linear-gradient(to right, rgb(3, 3, 3),  grey,  grey, rgba(255,255,255,0.3));
    margin-top: 15vh;
    padding: 2vh;
    text-align: center;
    border-radius: 3vh;
    width: 60vh;
}

#login-btn {
    background-color: black;
    color:yellow;
    margin: 0.5vh;
    font-size: 2vh;
    border-radius: 1vh;
}

#signup-btn {
    background-color: yellow;
    color: black;
    margin: 0.5vh;
    font-size: 2vh;
    border-radius: 1vh;
}

#dashboard-btn {
    background-color: yellow;
    color: black;
    margin: 0.5vh;
    font-size: 2vh;
    border-radius: 1vh;
}

#welcome-text{
    font-size: 4vh;
    margin-top: 2vh;
}

#tagline-text {
    font-style:italic;
    color:yellow;
    /* background-color: grey;
    border-radius: 1vh; */
}

