.center-the-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#registration-card {
    margin-top: 20vh;
    padding: 2vh;
    text-align: center;
    border: 1px solid black;
    border-radius: 3vh;
    width: 40%
}

#login-btn {
    background-color: black;
    color:yellow;
    margin: 0.5vh;
}

#signup-btn {
    background-color: yellow;
    color: black;
    margin: 0.5vh;
}

#tagline-text {
    font-style:italic;
    opacity: 0.5;
}

