body{
    background-image: url('/assets/images/bigstock.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.center-the-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#registration-card {
    background-image: linear-gradient(to right, rgb(3, 3, 3),  grey,  grey, rgba(255,255,255,0.3));
    margin-top: 15vh;
    padding: 2vh;
    text-align: center;
    border-radius: 3vh;
    width: 60vh;
}

#submit-btn {
    float:right;
    background-color: yellow;
    color: black;
    font-size: 2vh;
    border-radius: 1vh;
}

.validate {
    color:white;
}

#registration-logo{
    margin: 1vh;
    width: 10vh;
    height: 10vh;
}

.registration-form{
    text-align: left;
    color: white;
}