.profile-container{
    display: block;
    width: 80%;
    margin: auto;
    text-align: center;
    border-radius: 2vh;
    width: 80%;
    background-color:white;
    overflow: auto;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    padding: 1vh;
}

#follow-user-btn{
    border-radius: 1vh;
    float: right;
}

.albums-owned-tag{
    font-size: 2vh;
    color: rgb(7, 115, 204);
}

.albums-owned{
    font-size: 3vh;
    color: rgb(7, 115, 204);
}

.uploaded-images-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.small-images-container{
    width: 20vh;
    height: 20vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    border-radius:2vh;
    margin-left: 1vh;
    padding:1vh;
}

.small-img{
    max-width: 17vh;
    max-height: 15vh;
    border-radius:2vh;
}

.list-row-container{
    display:flex;
    justify-content:space-around;
}

.page-small-heading{
    text-align: left;
}

.comments-wrapper{
    max-height: 35vh;
    overflow: auto;
}

#show-comment-heading{
    align-self: flex-start;
    font-weight: bolder;
    font-size: 2vh;
    color: darkslateblue;
}

.individual-comment{
    padding: 1vh;
    margin-top:0.5vh;
    width: 55vh;
    border: 1px solid black;
    border-radius: 2vh;
    display:flex;
    flex-direction:column;
}

.comment-style{
    align-self: flex-start;
    font-weight: bolder;
    font-size: 2vh;
}

.show-comment-footer{
    align-self: flex-end;
    text-align:right;
}

.footer-text{
    font-size: 1.5vh;
}

.own-comment{
    color: lightcoral
}

.username-comment{
    color: cadetblue;
}

#username-comment-heading{
    float: left;
    font-size: 2vh;
    color: lightcoral;
}

#show-comment-btn{
    float:right;
    border-radius: 1vh;
}

#comment-form{
    height: 5vh;
}

.medium-img{
    height: 25vh;
    border-radius:2vh;
}

.flex-comment-center{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.give-comment-container{
    padding: 1vh;
    margin-top:0.5vh;
    width: 55vh;
    border-radius: 2vh;
    display:flex;
    flex-direction:column;
}

.action-button-comment{
    align-self: flex-end;
}

#action-button-comment{
    width: 3vh;
    background-color: white;
    border: none;
}


