.album-details-container{
    display: block;
    width: 90%;
    background-color: white;
    margin: auto;
    padding: 2vh;
    border-radius: 2vh;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.image-and-comments-container{
    display: block;
    width: 90%;
    margin: 2vh auto;
    padding: 2vh;
    border-radius: 2vh;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.image-container{
    width: 40%;
    padding:2vh; 
}

.individual-image{
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.image-show{
    display: block;
    margin: 2vh auto;
    height: 40vh;
    width: 40vh;
    object-fit: contain;
    border-radius: 2vh;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.image-details{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#uploadedBy{
    font-size:2vh;
}

.image-and-comments-wrapper{
    margin-bottom: 50vh;
}


@media screen and (max-width: 800px) {
    .individual-image{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .image-container{
        width: 100%;
        padding:2vh; 
    }
}
