.profile-container{
    display: block;
    width: 80%;
    margin: auto;
    text-align: center;
    border-radius: 2vh;
    width: 80%;
    background-color:white;
    overflow: auto;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    padding: 2vh;
    margin-bottom: 40vh;
}

.albums-owned{
    font-size: 2vh;
    color: lightseagreen;
    font-weight: bolder;
}

.albums-following-small {
    font-size: 2vh;
    color: lightcoral;
    font-weight: bolder;
}

.users-following-small{
    font-size: 2vh;
    color: cornflowerblue;
    font-weight: bolder;
}


.uploaded-images-container{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    overflow: auto;
    max-height: 25vh;
}

.uploaded-images-container::before, .uploaded-images-container::after {
    content:'';
    margin: auto; /* Make it push flex items to the center */
  }

.small-images-container{
    width: 20vh;
    height: 20vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    flex-shrink: 0;
    border-radius:2vh;
    margin: 0.5vh;
    padding:1vh;
    border:1px solid grey;
    background-color:white;
}

.small-img{
    width: 15vh;
    height: 15vh;
    object-fit: contain;
}

.list-row-container{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}

.list-row-container >div{
    margin-left: 5vh;
}

.list-following-container-flex {
    max-height: 25vh;
    overflow-x:hidden;
    overflow-y:auto;
}

.page-small-heading{
    text-align: left;
    font-size: 3vh;
}

.activities-logs-wrapper{
    display:flex;
    flex-direction: column-reverse;
    max-height: 40vh;
    overflow: auto; 
    border: 1px solid grey;
    border-radius: 2vh;
    padding: 2vh;
}

.header-container-show{
    display:block;
    width:80%;
    margin: 1vh auto;
    background-color: black;
    border-radius: 2vh;
    border: 1px solid black;
    padding:2vh;
}

.individual-activity{
    margin: 0.5vh;
}

#comment-content{
    font-weight: bolder;
}

#header-show-text{
    color:yellow;
}