<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/styles/login.css">
</head>
<body>
  <div class = 'center-the-form'>
    <div id="registration-card">
      <img id="registration-logo" src="/assets/images/ideagramlogo.png">
      <%-include('../partials/errorMsg.ejs') %>
      <form action="/login" method="POST">
        <%- include('../partials/registration.ejs') %>
        <button class="waves-effect waves-light btn-small" type="submit" name="action" id="submit-btn">Login
          <i class="material-icons right">send</i>
        </button>
      </form>
      <p>New to ideagram? <a class="link-text" href="/Signup">Signup</a></p>
    </div>
  </div>        
</body>
</html>