<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/styles/signup.css">
  </head>
  <body>
    <div class = 'center-the-form'>
      <div id="registration-card">
        <img id="registration-logo" src="/assets/images/ideagramlogo.png">
        <%-include('../partials/errorMsg.ejs') %>
        <form action="/signup" method="POST">
          <%- include('../partials/registration.ejs') %>
          <button class="waves-effect waves-light btn-small" type="submit" name="action" id="submit-btn">Signup
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
    </div>  
    </body>
</html>